.top {
  width: 100%;
  height: 6rem; }
  .top img {
    width: 100%;
    height: 100%; }
  .top .glyphicon-remove {
    position: absolute;
    top: 1rem;
    font-size: 3rem;
    right: 20rem;
    display: inline-block;
    border-radius: 50%;
    background: #fff; }

#address {
  width: 100%;
  padding: 0;
  margin: 0; }
  #address header {
    width: 100%;
    height: 3rem;
    background: black;
    display: flex;
    justify-content: space-between;
    z-index: 1000; }
    #address header .header_left {
      height: 3rem;
      flex: 3;
      padding-top: 0.5rem;
      margin-left: 2rem; }
      #address header .header_left img {
        width: 4.2rem;
        height: 2rem; }
      #address header .header_left a {
        height: 100%;
        padding-top: 1rem;
        text-decoration-line: none;
        color: white;
        /*font-size: 1.8rem;			*/
        margin-left: 3rem; }
      #address header .header_left .shopMark {
        position: absolute;
        top: -0.2rem;
        left: 43rem;
        width: 5rem; }
        #address header .header_left .shopMark img {
          width: 5rem;
          height: 1.3rem;
          float: left; }
        #address header .header_left .shopMark .arrow {
          width: 1rem;
          height: 0.7rem;
          float: right; }
    #address header .header_right {
      flex: 1;
      position: relative;
      line-height: 3rem; }
      #address header .header_right span {
        color: white;
        margin-right: 2rem; }
      #address header .header_right .txt {
        position: absolute;
        left: -15rem;
        height: 1rem;
        top: 2.5rem;
        display: none;
        border-radius: 0.5rem; }
      #address header .header_right a {
        color: white;
        margin-right: 2rem;
        text-decoration-line: none; }
  #address .pic_big_01 {
    width: 100%;
    height: 50rem; }
    #address .pic_big_01 img {
      width: 100%;
      height: 100%; }
    #address .pic_big_01 .pic_big_quanqiu {
      position: absolute;
      top: 15rem;
      left: 30rem;
      color: #fff;
      text-align: center; }
      #address .pic_big_01 .pic_big_quanqiu input {
        width: 22.6rem;
        height: 4.4rem;
        border: 0; }
      #address .pic_big_01 .pic_big_quanqiu input[type=button] {
        width: 14rem;
        color: black;
        background: #fff;
        border: 0; }
      #address .pic_big_01 .pic_big_quanqiu button {
        width: 14rem;
        height: 4.4rem;
        border: 0;
        background: #FF9800; }
      #address .pic_big_01 .pic_big_quanqiu p {
        margin-bottom: 5rem;
        font-size: 1.6rem; }
      #address .pic_big_01 .pic_big_quanqiu .txt_address {
        position: absolute;
        width: 30rem;
        height: 24.2rem;
        text-align: left;
        background: #fff;
        border: 0.1rem solid #ccc;
        display: none; }
        #address .pic_big_01 .pic_big_quanqiu .txt_address p {
          margin: 0;
          color: black;
          line-height: 5rem;
          border-bottom: 0.1rem solid #ccc; }
        #address .pic_big_01 .pic_big_quanqiu .txt_address a {
          color: #077345;
          display: inline-block;
          width: 4.5rem;
          height: 3.5rem; }
  #address .address_jing {
    width: 100%;
    height: 50rem;
    position: relative; }
    #address .address_jing img {
      width: 100%;
      height: 50rem; }
    #address .address_jing .address_sou {
      position: absolute;
      text-align: center;
      top: 10rem;
      left: 25%; }
      #address .address_jing .address_sou h1 {
        color: #fff;
        font-size: 5rem; }
      #address .address_jing .address_sou .address_sou_mask {
        width: 64rem;
        height: 14rem;
        background: rgba(0, 0, 0, 0.7);
        padding: 2rem;
        position: relative; }
        #address .address_jing .address_sou .address_sou_mask .glyphicon-search {
          position: absolute;
          right: 3rem;
          top: 3rem;
          font-size: 2.5rem;
          color: gray; }
        #address .address_jing .address_sou .address_sou_mask input {
          width: 60rem;
          height: 5.2rem;
          font-size: 2rem; }
        #address .address_jing .address_sou .address_sou_mask p {
          text-align: left;
          color: #fff; }
          #address .address_jing .address_sou .address_sou_mask p span {
            margin-right: 2rem; }
  #address main {
    width: 98rem;
    margin: 5rem auto; }
    #address main .main_top_pic {
      width: 100%; }
      #address main .main_top_pic img {
        width: 100%;
        height: 10rem; }
    #address main .main_nav_1 {
      width: 100%;
      height: 3rem;
      display: flex;
      margin-top: 1rem;
      justify-content: space-between; }
      #address main .main_nav_1 a {
        display: inline-block;
        padding: 0.5rem;
        color: black;
        margin-right: 1rem;
        border-radius: 0.4rem; }
      #address main .main_nav_1 .nav_a1 {
        background: #65B17F;
        color: #fff;
        border-radius: 0.4rem; }
      #address main .main_nav_1 span {
        font-size: 2.2rem;
        flex: 0.8; }
    #address main .main_pics {
      width: 100%;
      height: 61rem;
      margin-top: 1rem;
      position: relative; }
      #address main .main_pics div {
        overflow: hidden; }
        #address main .main_pics div img {
          width: 100%;
          height: 100%; }
        #address main .main_pics div .main_pics_name {
          position: absolute;
          bottom: 0;
          color: #fff;
          font-size: 3rem; }
        #address main .main_pics div .pics_mask {
          width: 100%;
          background: rgba(0, 0, 0, 0.7);
          position: absolute;
          bottom: 0;
          display: none;
          font-size: 1.6rem;
          color: #fff; }
      #address main .main_pics div:hover img {
        transition: all 2s;
        transform: scale(1.2); }
      #address main .main_pics .pics_1 {
        width: 39rem;
        height: 20rem;
        position: absolute;
        top: 0;
        left: 0; }
      #address main .main_pics .pics_2 {
        width: 19rem;
        height: 20rem;
        position: absolute;
        top: 0;
        left: 39.5rem; }
      #address main .main_pics .pics_3 {
        width: 19rem;
        height: 40.5rem;
        position: absolute;
        top: 0;
        left: 59rem; }
      #address main .main_pics .pics_4 {
        width: 19rem;
        height: 20rem;
        position: absolute;
        top: 0;
        right: 0; }
      #address main .main_pics .pics_5 {
        width: 19rem;
        height: 40.5rem;
        position: absolute;
        top: 20.5rem; }
      #address main .main_pics .pics_6 {
        width: 39rem;
        height: 20rem;
        position: absolute;
        top: 20.5rem;
        left: 19.5rem; }
      #address main .main_pics .pics_7 {
        width: 19rem;
        height: 20rem;
        position: absolute;
        top: 20.5rem;
        right: 0; }
      #address main .main_pics .pics_8 {
        width: 19rem;
        height: 20rem;
        position: absolute;
        top: 41rem;
        left: 19.5rem; }
      #address main .main_pics .pics_9 {
        width: 19rem;
        height: 20rem;
        position: absolute;
        top: 41rem;
        left: 39rem; }
      #address main .main_pics .pics_10 {
        width: 39rem;
        height: 20rem;
        position: absolute;
        top: 41rem;
        right: 0; }
    #address main .ul_name {
      width: 100%;
      padding: 0; }
      #address main .ul_name li {
        width: 33%;
        float: left;
        list-style: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
        #address main .ul_name li a {
          color: black; }
          #address main .ul_name li a span {
            color: #ccc; }
    #address main footer {
      width: 130%;
      height: 10rem;
      margin-left: -15rem;
      border-top: 0.5rem solid green;
      background: #323232;
      clear: both; }
