@charset 'utf-8';
$num:'16px';
*{
	margin:0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
html{
	font-size: 10px;
}
#wrap{
	width: 100%;
	header{
		width: 100%;
		height: 8rem;		
		background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 2%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0) 100%);
		position: absolute;
		top: 0;
		display: flex;
		justify-content: space-between;
		z-index: 1000;
		/*padding-top: 2rem;*/
		.header_left{
			height: 8rem;
			flex:3;
			padding-top: 2rem;
			margin-left: 2rem;			
			img{
				width: 8.2rem;
				height: 4rem;
		   }
		   a{
		   	height: 100%;
		    padding-top: 2.5rem; 
		   	text-decoration-line: none;
			color: white;
			font-size: 1.8rem;			
			margin-left: 1rem;								
		   }
		   .shopMark{
		   	  position: absolute;
		   	  top: 1.4rem;
		   	  left: 39rem;
		   	  width: 5rem;		   	 
              img{
              	 width: 5rem;
                 height: 1.3rem;
                 float: left;               
              }
              .arrow{
              	width: 1rem;
              	height: 0.7rem;
              	float: right;
              }
		   }		  
		}
		.header_right{
			flex:1;
			position: relative;
			line-height: 8rem;
			
			span{
				color: white;
				margin-right: 2rem;
			}		
			.txt{
				position: absolute;
				left: -15rem;
				height: 3rem;
				top: 2.5rem;
				display: none;
				border-radius: 0.5rem;
			}
			a{
				color: white;
				margin-right: 2rem;
				text-decoration-line: none;
			}			
		}
	}
	.baidusou{
		width: 20rem;
		height: 10rem;
		position: absolute;
		right: 26.5rem;
		top: 5rem;
		display: none;
		border:0.1rem solid lightgreen;
/*		border-top: 0.1rem solid lightgreen;*/
		z-index: 9999;
		#uls{
			background: white;
			li{				
				line-height: 3rem;
				padding:0 1rem; 
			}
			li:hover{
			   background:lightgreen;
			}
		}
	}
	.box{
	   width:10rem;
	   font-size:5rem;
	   background:red;
	}
	#swiper{
		width: 100%;
		height: 40rem;
		overflow: hidden;
		.swiper-container {
	        width: 100%;
	        height: 100%;
        .swiper-slide {
	        text-align: center;
	        font-size: 18px;
	        background: #fff;
	        transition: 3s;
	        /* Center slide text vertically */
	        display: -webkit-box;
	        display: -ms-flexbox;
	        display: -webkit-flex;
	        display: flex;
	        -webkit-box-pack: center;
	        -ms-flex-pack: center;
	        -webkit-justify-content: center;
	        justify-content: center;
	        -webkit-box-align: center;
	        -ms-flex-align: center;
	        -webkit-align-items: center;
	        align-items: center;
	        img{
	        	width: 100%;
	        	height: 400px;
	        }
	       }
        }
    
    }
    .jing_1{
       width:100%;
       height:15rem;
       background: #ccc; 
        display: flex;
        justify-content: space-around;     
       .img_1{
           width: 60%;
           height: 80%;
           margin-top: 1.5rem;
       }
       .img_2{
       	width: 30%;
       	height: 80%;
       	margin-top: 1.5rem;
       }
    }	
    h1{
    	text-align: center;
    }
    .imgs{
    	width: 100%;
        height: 65rem;
    	  ul{
    	  	width: 23%;
            height: 30rem;
		    border:0.1rem solid #ccc;		    
		    float: left;
		    margin-left: 2rem;
		    margin-top: 2rem;
    	  	li{
		    	width: 100%;
		    	height: 30rem;
		    	position: relative;
		    	#mask{
		    		width: 100%;
		    		height: 18rem;
		    		background: rgba(72,204,155,0.7);
		    		position: absolute;
		    		display: none;
		    	}
		    	img{
		    		width: 99%;
		    		height: 18rem;
		    		box-sizing: border-box;
		    	}
                
		    	p{
		    		padding: 1rem;
		    	}
        	} 
        	li:hover #mask{
                   display: block;
                }  	
    	  }	   		    	    		   		
    }
    .jing_2{
    	width: 100%;
    	height: 29.5rem;
    	.img_3{
    		width: 50%;
    		height:24rem;
    		margin-top: 1rem;
    		margin-left: 3rem;
    	}
    	.img_4{
    		width: 45%;
    		height:24rem;
    		margin-top: 1rem;
    	}
    }
    
    
    .green{
    	width: 100%;
    	height: 63.5rem;
    	background: linear-gradient(to bottom, rgba(0,200,0,0.7) 2%, rgba(0, 255, 0, 0.5) 40%, rgba(45, 206,216 , 0) 100%);
    	h2{
    		text-align: center;
    		color: white;
    		line-height: 7.4rem;
    	}
    	.divs{
    		width: 100%;
    		height: 34.5rem;
    		overflow: hidden;
    		div{
    			width: 100%;
    			height: 100%;
    			
    			}
    			#sw{
    				display: flex;
    				ul{
    				width: 37rem;
    				height: 34.5rem;
    				background: #fff;
    				display: flex;
    				margin-left: 3%;
    				li{
    					width: 100%;
    					height: 100%;
    					.data_name{
    						font-size: 2.2rem;
    						font-weight: bold;
    						line-height: 5.2rem;	
    					}
    					.data_main{
    							border-top: 0.1rem solid #ccc;
    							background: #f8f8f8;
    						}
    					p{
    						line-height: 5.2rem;
    						mark{
    							color: red;
    							font-size: 3rem;
    						}
    						.btn-danger{
    							float: right;
    							margin-right: 2rem;
    						}
    					}
    					img{
    						width: 34rem;
    						height: 14.8rem;
    						margin-left: 1.5rem;
    						margin-bottom: 1rem;
    					   }

    					}
    				}
    			}
    			#sw_1,#sw_2,#sw_3,#sw_4{
    				width: 100%;
    				height: 34rem;
    				display: flex;
    				flex-wrap: wrap; 
    				float: left;
	                  dl{
                        width: 30%;
                        height: 16rem;
                        background: #fff;
                        display: flex;
                        margin-left: 2%;
                        
                        dt{
                        	width: 16rem;
                        	height: 16rem;
                        	img{
                        		width: 14rem;
                        		height: 14rem;
                        		margin: 1rem;
                        	}
                        }
                        dd{
                        	width: 21rem;
                        	a{
                        		font-size: 2rem;
                        		color: black;
                        		text-decoration: none;
                        	}
                        	a:hover{
                        		color: green;
                        	}
                        	p{
                        		width: 20rem;
                        		line-height: 5rem;
                        		mark{
                        			color: red;
                        			font-size: 2rem;
                        		}
                        		.long_1{
                        			float: right;
                        		}
                        	}
                        	.dd_2{
                        		margin-left:13rem;
                        	}
                        }
	                   }
	                   dl:hover{
                            -webkit-box-shadow: 0 0 10px #666;  
  							-moz-box-shadow: 0 0 10px #666;  
  							box-shadow: 0 0 10px #666;  
                        }
    			}
    		}
    	.spans{
    		width: 20%;
    		height: 2rem;
    		display: flex;
    		justify-content: space-around;
    		margin: 3rem auto;
    		span{
    			width:3rem;
    			height: 1rem;
    			border:0.1rem solid #fff;
    		}
    	} 
    	.kan{
    		text-align: center;
    		button{
    			width: 21.6rem;
    			height: 5rem;
    			font-size: 1.6rem;
    		}
    	}
    	
    }
    .green_1{
    	width: 100%;
        height: 85rem;
    	/*background: lightgreen;*/
    	.divs_1{
    		width: 100%;
    		height: 65rem;
    		overflow: hidden;
    		div{
    			width: 100%;
    			height: 100%;	
    		}
           ul{
    	  	width: 23%;
            height: 30rem;
		    border:0.1rem solid #ccc;		    
		    float: left;
		    margin-left: 2rem;
		    margin-top: 2rem;
    	  	li{
		    	width: 100%;
		    	height: 30rem;
		    	overflow: hidden; 
		    	img{
		    		width: 99%;
		    		height: 18rem;
		    		box-sizing: border-box;
		    		transition: all 2s;
		    	}
		    	p{
		    		padding: 1rem;
		    	}
        	 } 
        	 li:hover img{
                transform: scaleX(1.4);
        	 }  	
    	   }
    	}  
    	  .spans_1{
    		width: 20%;
    		height: 2rem;
    		display: flex;
    		justify-content: space-around;
    		margin: 3rem auto;
    		span{
    			width:3rem;
    			height: 1rem;
    			border:0.1rem solid #ccc;
    			background: #ccc;
    		}
    	} 
    	.kan{
    		text-align: center;
    		button{
    			width: 21.6rem;
    			height: 5rem;
    			font-size: 1.6rem;
    		}
    	}	   		    	    
    }    
   footer{
   	width: 100%;
   	height: 20rem;
   	background: lightgreen;
   	  h5{
   	  	font-size: 2rem;
   	  	text-align: center;
   	  	margin-top: 5rem;
   	  	line-height: 5rem;
   	  }
   	  p{
   	  	font-size: 1.6rem;
   	  	text-align: center;
   	  	line-height: 6rem;
   	  }
   } 
}

