#jiudian{
	width: 100%;
	padding: 0;
	margin:0;
	header{
		width: 100%;
		height: 3rem;		
		background:black;
		display: flex;
		justify-content: space-between;
		z-index: 1000;
		.header_left{
			height: 3rem;
			flex:3;
			padding-top: 0.5rem;
			margin-left: 2rem;			
			img{
				width: 4.2rem;
				height: 2rem;
		   }

		   a{
		   	height: 100%;
		    padding-top: 1rem; 
		   	text-decoration-line: none;
			color: white;
			/*font-size: 1.8rem;			*/
			margin-left: 3rem;								
		   }
		   .shopMark{
		   	  position: absolute;
		   	  top: -0.2rem;
		   	  left: 43rem;
		   	  width: 5rem;		   	 
              img{
              	 width: 5rem;
                 height: 1.3rem;
                 float: left;               
              }
              .arrow{
              	width: 1rem;
              	height: 0.7rem;
              	float: right;
              }
		   }		  
		}
		.header_right{
			flex:1;
			position: relative;
			line-height: 3rem;
			
			span{
				color: white;
				margin-right: 2rem;
			}		
			.txt{
				position: absolute;
				left: -15rem;
				height: 1rem;
				top: 2.5rem;
				display: none;
				border-radius: 0.5rem;
			}
			a{
				color: white;
				margin-right: 2rem;
				text-decoration-line: none;
			}			
		}
	}
	.pic_big_01{
		width: 100%;
		height: 50rem;
		img{
			width: 100%;
			height: 100%;
		}
		.pic_big_quanqiu{
			position: absolute;
			top: 15rem;
			left:30rem;
			color: #fff;
			text-align: center;
			input{
				width: 22.6rem;
				height: 4.4rem;
				border:0;
			}
			input[type=button]{
				width: 14rem;
				color: black;
				background: #fff;
				border:0;
			}
			button{
				width: 14rem;
				height: 4.4rem;
				border:0;
				background: #FF9800;
			}
            p{
            	margin-bottom: 5rem;
            	font-size: 1.6rem;
            }
            .txt_address{
            	position: absolute;
            	width: 30rem;
            	height: 24.2rem;
            	text-align: left;
            	background: #fff;
            	border:0.1rem solid #ccc;
            	display: none;
            	p{
            		margin:0;
            		color: black;
            		line-height:5rem;
            		border-bottom: 0.1rem solid #ccc; 
            	}
            	a{
            		color: #077345;
            		display: inline-block;
            		width: 4.5rem;
            		height: 3.5rem;
            	}
            }
		}
	}
	main{
		width: 95%;
		margin: 0 auto;
		.main_dangji{
			width: 100%;
			text-align: center;
			padding:5rem;
		} 
		.main_dangji_name{
			width: 100%;
			list-style: none;
			padding: 0;
			display: flex;
			flex-wrap: wrap; 
			justify-content: space-between;
			li{
				width: 36rem;
				height: 30rem;
				position: relative;
                margin-bottom: 5rem;
                transition: all 0.5s;
				img{
					width: 100%;
					height: 100%;
				}
				.name_li_div{
					position: absolute;
					top: 30%;
					width: 100%;
					color: #fff;
					text-align: center;
				}
			}
			li:hover{
				margin-top: -1rem;
				box-shadow: 0 2rem 3rem gray;
			}
		}
		.main_ul_guojia{
			width: 100%;
			height: 20rem;
			border-top: 0.1rem solid #ccc;
			padding: 0;
			padding-top: 4rem;
			padding-bottom: 4rem;
			list-style: none;
            display: flex;
			p{
				width: 15rem;
				height: 100%;
			}
			li{
				width: 88rem;
				height: 100%;
				span{
					display: inline-block;
					width: 9rem;
					height: 3.8rem;
				}
				span:hover{
					color: lightgreen;
					cursor: pointer;
				}
			}
		}
	}
	footer{
		width: 100%;
		height:12rem;
		background: #323232;
		border-top: 0.5rem solid #25A851;
	}
}