.del_btn{
	width: 10rem;
	height: 4rem;
	font-size: 1.6rem;
	padding-left:1rem; 
	padding-right:1rem; 
}
.shop_ul{
	font-size: 1.6rem;
}
.del{
	display: inline-block;
	width: 3rem;
	height: 3rem;
	border:0.2rem solid #ccc;
	color: red;
	border-radius: 50%;
	font-size: 2rem;
	line-height: 3rem;
	text-align: center;
	font-weight: bold;
}
